body {
    background: aquamarine;
}

.title {

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 10px;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}