.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkorange;
    flex-direction: column;
}

.title_btn{
    background: lightsalmon;
    border-radius: 10px;
    margin-bottom: 20px;
}


.details{
    display: flex;
    justify-content: space-evenly;
    background: greenyellow;
}